/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---           Video            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #video-571 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-video {
            max-width: 100%;
        }

        .cs-text {
            font-size: calc(var(--bodyFontSize) + 0.1rem);
            font-weight: 700;
        }

        .cs-text-link {
            color: var(--secondary);
            text-decoration: none;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: calc(1104 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-video-title {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 6vw, 2.4375rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--headerColor);
            position: relative;
        }
        .cs-big-link {
            width: 100%;
            /* 418px - 760px */
            height: clamp(26.125rem, 50vw, 47.5rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                .cs-background {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            /* clips the img from overflowing the container on hover */
            overflow: hidden;
            display: block;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;

            &:before {
                /* color overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.72;
                background-blend-mode: multiply;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 10;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-link-icon {
            /* 64px - 86px */
            width: clamp(4rem, 7vw, 5.375rem);
            height: auto;
            position: absolute;
            z-index: 10;
            transition:
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1644 {
        padding: var(--sectionPadding);
        background-color: #f6f6f6;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(2.5rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: none;
        }

        .cs-text {
            max-width: 60ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            /* resets at tablet */
            padding: calc(32 / 16 * 1rem) calc(16 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            /* 24px - 40px */
            gap: clamp(1.5rem, 3vw, 2.5rem);
            position: relative;
            z-index: 1;

            &:last-of-type {
                &:before {
                    display: none;
                }
            }

            &:before {
                /* gradient line divider */
                content: '';
                width: 100%;
                height: 1px;
                background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(186,186,186,1) 50%,rgba(255,255,255,0) 100%);
                opacity: .6;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
            }
        }

        .cs-item:first-of-type {
            padding-top: 0;
        }

        .cs-item:last-of-type {
            padding-bottom: 0;
            border: none;
        }

        .cs-image-group {
            position: relative;
        }

        .cs-icon {
            width: calc(48 / 16 * 1rem);
            height: auto;
        }

        .cs-h2 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--primary);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            text-align: justify;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1644 {
        .cs-container {
            max-width: calc(1920 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: center;
        }

        .cs-item {
            /* 24px - 60px */
            padding: 0rem clamp(1.5rem, 3vw, 3.75rem);

            &:before {
                width: 1px;
                height: 100%;
                background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(186,186,186,1) 50%,rgba(255,255,255,0) 100%);
                left: auto;
                right: 0;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-45 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        background-color: #fafafa;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-image-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            margin: 0;
            position: relative;
            display: block;

            &:hover {
                .cs-hover-box {
                    opacity: 1;
                }

                .cs-icon {
                    /* return to original position */
                    transform: rotateY(0);
                }

                .cs-h3 {
                    opacity: 1;
                    /* Return to original position */
                    transform: translateY(0);
                }

                .cs-hover-box-text {
                    opacity: 1;
                    /* Return to original position */
                    transform: translateY(0);
                }
            }
        }

        .cs-picture {
            margin: auto;
            width: 100%;
            height: 100%;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-45 {
        .cs-image-group {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-45 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-379 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            max-width: calc(955 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-image {
            border-radius: calc(20 / 16 * 1rem);
            width: 46%;
            /* 150px - 300px */
            height: clamp(9.375rem, 39vw, 18.75rem);
            max-width: calc(350 / 16 * 1rem);
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: contain;
            }
        }
    }

}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-379 {
        .cs-image {
            width: 32.8%;
            max-width: calc(305 / 16 * 1rem);
            aspect-ratio: 1;
        }
    }
}
